#　プロジェクト内の.txtを全て除外する．
# *.txt 
# ルート直下の.txtだけ除外する．
# /*.txt 
# .txtフォルダを除外する．
# .txt

# 階層に関わらず，.hmap/.ipa/.dSYMの拡張子のファイルを除外する．
*.hmap
*.ipa
# 語尾が.dSYM.zipで終わるファイルを階層に関わらず除外する．
*.dSYM.zip
*.dSYM

# 階層に関わらず，これらのファイルを除外する．
timeline.xctimeline
playground.xcworkspace
.DS_Store

# 階層に関わらず，.build/xcuserdataフォルダを除外する．(除外されたフォルダ内のフォルダおよびファイルは除外される．)
.build/
xcuserdata/

# 第2層のフォルダにこれらの並びがあれば除外する．
*/Carthage/Build/
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots/**/*.png
*/fastlane/test_output

